.container__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  gap: 25px;
}

.container {
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  content-visibility: auto;
}

.container__div--gray {
  z-index: 1;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  background-color: rgb(228, 231, 237, .4);
}

.container__div--red {
  z-index: 2;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 282px;
  background: #D10024;
  opacity: 0.9;
  overflow: hidden;
  transform: skewX(-40deg) translateX(-100%);
}

.container__img {
  width: 100%;
  -moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container__img img {
  width: 100%;
}

.container__img:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container__info {
  position: absolute;
  left: 70px;
  top: 40px;
  z-index: 10;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 60%
}

.container__info a {
  align-items: center;
  display: flex;
  gap: 5px;
}

@media(max-width: 1024px) {
  .container {
    width: 45%;
  }

  .container__div--red {
    z-index: 2;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 224px;
    background: #D10024;
    opacity: 0.9;
    overflow: hidden;
    transform: skewX(-40deg) translateX(-100%);
  }
}