.header__topbar {
  height: 60px;
  padding: 0 24px;
  background-color: #1E1F29;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 1024px) {
  .header__topbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
}

.header__list {
  display: flex;
  gap: 12px;
}

.header__list--item {
  display: flex;
  gap: 5px;
  align-items: center;
}