.topbar {
  height: 60px;
  padding: 0 24px;
  background-color: #1E1F29;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__list {
  display: flex;
  gap: 12px;
}

.topbar__item {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media(max-width: 1024px) {
  .topbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
}

@media(max-width: 650px) {
  .topbar {
    height: 100%;
  }

  .topbar__list {
    flex-wrap: wrap;
  }
}
