.header {
  height: 120px;
  padding: 0 24px;
  background-color: #15161D;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #D10024;
}

.header__icon {
  display: flex;
  position: relative;
}

.cart,
.favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  position: relative;
}

.numbers {
  width: 20px;
  height: 20px;
  background-color: #D10024;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.header__select {
  color: black;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
}

.header__search {
  height: 40px;
  width: 80%;
  padding: 0px 5px 0px 10px;
}

.header__button {
  background-color: #D10024;
  width: 150px;
  color: #ffffff;
  font-weight: bold;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}

.header__button:hover {
  background-color: #2b2d42;
}

@media(max-width: 1024px) {
  .header {
    flex-direction: column;
    height: 100%;
    padding: 0px 14px;
  }

  .header__form {
    padding: 0px 0px 32px;
    width: 90%;
  }


  .header__search {
    width: 100%;
  }

  .header__icon {
    padding: 12px 0px 50px;
    margin-left: 40%;
  }
}

@media(max-width: 650px) {
  .header__form {
    width: 100%;
  }

  .header__select {
    width: 32%;
  }

  .header__button {
    width: 42%;
  }

  .header__icon {
    margin-left: 1%;
  }
}